
.footer {
    text-align: center;
    font-size: 12px;
    color: #b6bac3;
    line-height:26px;
    height:26px;
    /* position:absolute;
    bottom:0;
    width: 100%;
    */
}
.footer .b-lnk-gy {
    color: #999;
    text-decoration: none;
}